@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Knewave&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Parte superior de la página*/

.barra_superior{
    position: relative;
}
.barra_superior img{
    width: 100%;
    height: 620px;
    object-fit: cover;
    opacity: 0.7;
}
.titulo_logotipo{
    color: #FFF;
    display: inline-block;
    vertical-align: bottom;
    font-family: 'Knewave', sans-serif;
    font-size: 40px;
    margin-bottom: 5%;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 87%;
    margin-right: 138px;
}
.logo img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    opacity: 1;
}
.cont .tresLineas{
    position: absolute;
    top: 20px;
    left: 20px;
}
.tresLineas img{
    width: 50px;
    height: 50px;
    opacity: 1;
}
.cont{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    top: 0;
    left: 0;
}
.cont_dos {
    position: absolute;
    width: 100%;
    color: #fff;
    bottom: 0;
    left: 0;
    padding-bottom: 90px;
}
.titulo_imagen{
    color: #F4FEBA;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Knewave', sans-serif;
    font-size: 110px;
}
.uno{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.37);
    width: 1316px;
    height: 149px;
    margin-left: 11%;
}
.dos{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.70);
    width: 764px;
    height: 74px;
    margin-left: 28%;
}
.dos h3{
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

/*PRINCIPIOS LORO PARQUE*/

.numeral{
    display: flex;
}
.numeral p{
    color: #000;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 400;
    margin-top: 1.8%;
}
.numero{
    width: 60px;
    height: 60px;
    background:  #64F3DA;
    border-radius: 50%;
    padding: 7px;
    margin: 12px;
}
.numero h1{
    text-align: center;    
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

/*ACTIVIDADES Y BIENVENIDA*/

.texto_cuerpo{
    margin-left:180px;
    margin-right: 180px;
    margin-top: 64px;
}
h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.parrafo{
    color: #000;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 156.687%; /* 36.038px */
}
.cards_actividades{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}
.card{
    width: 561px;
    height: 425px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 1%;
}
.card img{
    object-fit: cover;
}
.texto_card{
    background: #F6F6F6;
}
.texto_card h3{
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.texto_card p{
    margin: 15px;
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.txt span{
    color: #000;
    font-style: normal;
    font-weight: 600;
}
.titulos_contenido_principal{
    margin-bottom: 23px;
}
.titulos_contenido_uno{
    color: #303E86;
    margin-top: 36px;
    margin-bottom: 25px;
}

/*COLORES DE TITULOS DEPENDIENDO EL ZOOLOGICO*/

#singapur{
    color: #327B26;
}
#titSingapur{
    color: #B8F196;
}
#titToronto{
    color: #ECF99C;
}
#actToronto{
    color: #B99E58;
}
#conToronto{
    background: #FAFFDC;/*Sección de conservación de especies en Toronto*/
}
#espToronto{
    color: #7B8138;
}
#LoroParqueAct{
    color: #2C907E;
}
#titLoroParque{
    color: #A1F8F2;
}
#titPrinSchon{/*Titulo de la cabecera de la página del zoológico de Schonbrunn*/
    font-size: 100px;
    color: #C65252;
}
#actSchon{
    color: #D14343;
}
#fondoCon{/*Fondo conservación de especies del zoológico de Schonbrunn*/
    background: #FFEFF3;
}
#conserSchon{
    color: #B63636;
}
#titLondres{
    color: #8D418E;
}
#actLondres{
    color: #AE388D;
}
#conserLondres{/*Fondo de conservación del zoológico de Londres*/
    background: #FBEDFF;
}
#titBerlin{
    text-align: center;
    color: #F1EE96;
}
#apartadoBerlin{
    font-size: 23px;
}
#actBerlin{
    color: #C37B37;
}
#consBerlin{/*Fondo de conservación del zoolóico de Berlin*/
    background: #FFF5EC;
    padding-left: 5%;
    padding-right: 5%;
}
#titBronx{
    text-align: center;
    color: #96F1AF;
}
#actBronx{
    color: #299985;
}
#titChapul{
    color: #36426A;
    font-size: 100px;
}
#actChapul{
    color: #262F7B;
}
#conChapultepec{/*Fondo de conservacion del zoológico de Chapultepec*/
    background: #ECFCFF;
    padding-left: 5%;
    padding-right: 5%;
}

/*CONSERVACION DE ESPECIES*/

.conservacion{
    background: #F4FFEC;
    padding-top: 30px;
    padding-bottom: 2%;
    margin-left:180px;
    margin-right: 180px;
}
.conservacion .tarjetas{
    column-count: 2; /* Establece el número de columnas */
    column-gap: 2px; /* Espaciado entre columnas */
    padding-left: 8%;
}
.conservacion h2{
    color: #3D6F38;
    margin-bottom: 40px;
}
.cirImg img{
    border-radius: 216px;
    border: 3px solid #4CA43D;
    position: absolute;
    display: flex;
    object-fit: cover;
    /*order: -1;*/
}
#cirAux img{
    border: 3px solid #A43D3D;
}
#TexAux{
    border: 3px solid #A43D3D;
}
#cirLondres img{
    border: 3px solid #833DA4;
}
#texLondres{
    border: 3px solid #833DA4;
}
.cirText{
    border-radius: 50px;
    border: 3px solid #4CA43D;
    background: #FFF;
    width: 414.127px;
    height: 164px;
    padding-left: 89px;
    padding-right: 24px;
    padding-top: 19px;
    padding-bottom: 27px;
    margin-top: 3.5%;
}
.cirText h4{
    color: #0F0F0F;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.cirText p{
    color: #0F0F0F;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.cirText #parrafo_alternativo, #tamañoLondres{
    font-size: 15px;
}
.circulo_tarjeta{
    position: relative;
    break-inside: avoid-column; /* Evita que una tarjeta se divida entre columnas */
    display: flex; /* Establece un contenedor flexible */
    flex-direction: column;
    align-items: center; 
    margin-bottom: 60px;
}
.circulo_tarjeta .cirImg{
    margin-right: 107%;
}
.granImagen img{
    border-radius: 30px;
    object-fit: cover;
}
#conToronto img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 2%;
}
.cajas{
    border-radius: 50px;
    border: 3px solid #4CA43D;
    background: #FFF;
    width: 70%;
    height: 70%;
    margin-left: 3%;
    margin-bottom: 3%;
    padding: 2%;
}
.cajas h4{
    text-align: center;
}

/*GALERIA DE FOTOS*/

.galeria_animales{
    margin-left:180px;
    margin-right: 180px;
}
.titulos_contenido_tres{
    color: #7D7526;
    padding-top: 30px;
    margin-bottom: 40px;
}
.fotos {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4%;
    padding-bottom: 5%;
}
.foto {
    position: relative;
    margin: 10px;
}
.foto img {
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
}
.foto a {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 46px;
    font-weight: 700;
    text-decoration: none;
    line-height: 156.687%; /* 78.344px */
}
#buho{
    font-size: 40px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5E4646;
    color: white;
    font-family: 'Jost', sans-serif;
    height: 23px;
}
